[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-restful = "*"
flask-cors = "*"
bcrypt = "*"
flask-bcrypt = "*"
pyjwt = "*"
flask-jwt-extended = "*"
jwt = "*"
sqlalchemy-serializer = "*"

[dev-packages]

[requires]
python_version = "3.8"
